*{
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font: poppins;
}

#main {
  width: 100%;
  height: 50vh;
  position: relative;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100;
  background-color: white;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
  z-index: 1;
}

.logo img{
  height: 45px;
}

.menu{
  list-style: none;
  display: flex;
}